Repository adamsimonini/portfolio-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: Files: Docs, Files: Dependencies, Files: GitHub, Area: Frontend ðŸŽ¨

.github/labeler.yml:

# This automatic labeling happens only at the file-level. Other labels may be added manually to better specify the nature of the PR

# https://github.com/marketplace/actions/labeler

# explicit file: fileName.extention
# explicit dir, any file at that dir: phacend/itap/*
# explicit dir, any file of any child dir: phacend/itap/**/*
# explicit dir, only files of a certain time at any child dir: phacend/itap/**/*.html
# any dir with explicit child dir, and any file within that child dir: **/jinja2/*

"Files: Docs":
  - "*.md"
  - "docs/*"

# "Files: Tests":

# "Files: Migrations":

"Files: Dependencies":
  - "package.json"

"Files: GitHub":
  - .github/*
  - .github/**/*

# "Files: Models":

# "Files: Seeds":

"Area: Frontend ðŸŽ¨":
  - "src/*"
  - "src/**/*"
# "Area: Backend ðŸ’¾":
#   - "server/*"
#   - "server/**/*"

added license, improved readme, and added photo of site
  LICENSE.txt
  README.md
  src/assets/components/AudioPlayer/AudioPlayer.jsx
  src/assets/components/AudioPlayer/styles.css
  src/assets/components/Contact.jsx
  src/assets/components/Footer.jsx
  src/assets/components/Home.jsx
  src/assets/components/Navbar.jsx
  src/assets/components/ProjectCard.jsx
  src/assets/components/Projects.jsx
  src/assets/components/Skills.jsx
  src/assets/components/WelcomePage.jsx
  src/assets/images/portfolio-pieces/adam-simonini.png
  src/projects.js
Labels: Files: Docs, Area: Frontend ðŸŽ¨

improved readme
  README.md
Labels: Files: Docs

improved card images and readme
  README.md
  src/assets/images/portfolio-pieces/covid-trends.png
  src/assets/images/portfolio-pieces/placeholder.png
  src/assets/images/portfolio-pieces/pokemon-battle.png
  src/assets/images/portfolio-pieces/vue-housing.png
  src/projects.js
Labels: Files: Docs, Area: Frontend ðŸŽ¨

made a few changes to grid
  src/assets/components/AudioPlayer/AudioPlayer.jsx
  src/assets/components/ProjectCard.jsx
  src/assets/components/Projects.jsx
Labels: Area: Frontend ðŸŽ¨

added sanity check
  src/assets/components/Projects.jsx
  vite.config.js
Labels: Area: Frontend ðŸŽ¨

updated card styles
  src/assets/images/adam-simonini.png
  src/assets/images/covid-trends.png
  src/assets/images/placeholder.png
  src/assets/images/pokemon-battle.png
  src/assets/images/vue-housing.png
  src/components/ProjectCard.jsx
  src/components/Projects.jsx
  src/styles.css
Labels: Area: Frontend ðŸŽ¨

updated project card ui
  src/assets/components/Navbar.jsx
  src/assets/components/ProjectCard.jsx
  src/assets/components/WelcomePage.jsx
  src/components/ProjectCard.jsx
  src/styles.css
Labels: Area: Frontend ðŸŽ¨

made cards transparent
  src/styles.css
Labels: Area: Frontend ðŸŽ¨

improved card stypes
  src/components/ProjectCard.jsx
  src/projects.js
  src/styles.css
Labels: Area: Frontend ðŸŽ¨

fixed grid
  src/styles.css
Labels: Area: Frontend ðŸŽ¨

shortened cards
  src/styles.css
Labels: Area: Frontend ðŸŽ¨

improved UI for cards
  src/components/ProjectCard.jsx
  src/components/Projects.jsx
  src/projects.js
  src/styles.css
Labels: Area: Frontend ðŸŽ¨

changed image width
  src/components/ProjectCard.jsx
Labels: Area: Frontend ðŸŽ¨

added weather app, removed unused images
  src/assets/images/banner-bg.png
  src/assets/images/bannerBg.jpg
  src/assets/images/bg.jpg
  src/assets/images/footer-bg.png
  src/assets/images/portfolio-pieces/weather-app.png
  src/assets/images/project-img1.png
  src/assets/images/project-img2.png
  src/assets/images/project-img3.png
  src/projects.js
Labels: Area: Frontend ðŸŽ¨

Update README.md
  README.md
Labels: Files: Docs

add companion landing as project
  src/assets/images/portfolio-pieces/companion.png
  src/projects.js
Labels: Area: Frontend ðŸŽ¨

added repomix
  .gitignore
  .repomixignore
Labels: none

multiple planes working
  package-lock.json
  package.json
  src/IFOs/Plane/Plane.jsx
  src/IFOs/Plane/script.js
  src/components/WelcomePage.jsx
Labels: Files: Dependencies, Area: Frontend ðŸŽ¨

minor changes and removed redundant code
  src/IFOs/Plane/script.js
  src/assets/components/AudioPlayer/AudioPlayer.jsx
  src/assets/components/AudioPlayer/styles.css
  src/assets/components/Contact.jsx
  src/assets/components/Footer.jsx
  src/assets/components/Home.jsx
  src/assets/components/Navbar.jsx
  src/assets/components/ProjectCard.jsx
  src/assets/components/Projects.jsx
  src/assets/components/Skills.jsx
  src/assets/components/WelcomePage.jsx
  src/components/AudioPlayer/AudioPlayer.jsx
  src/components/AudioPlayer/styles.css
  src/components/WelcomePage.jsx
  src/styles.css
Labels: Area: Frontend ðŸŽ¨

planes now get removed after their run
  src/IFOs/Plane/Plane.jsx
  src/IFOs/Plane/script.js
  src/components/ProjectCard.jsx
  src/components/WelcomePage.jsx
Labels: Area: Frontend ðŸŽ¨

reasonable plane number
  src/components/WelcomePage.jsx
Labels: Area: Frontend ðŸŽ¨

improved site
  index.html
  package-lock.json
  package.json
  src/App.jsx
  src/IFOs/Plane/Plane.jsx
  src/IFOs/Plane/script.js
  src/IFOs/Plane/styles.css
  src/IFOs/ShootingStar/ShootingStar.jsx
  src/IFOs/ShootingStar/styles.css
  src/IFOs/Star/Star.jsx
  src/IFOs/Star/script.js
  src/IFOs/Star/styles.css
  src/components/AudioPlayer/AudioPlayer.jsx
  src/components/AudioPlayer/styles.css
  src/components/Footer.jsx
  src/components/Home.jsx
  src/components/Icons.jsx
  src/components/Navbar.jsx
  src/components/ProjectCard.jsx
  src/components/Projects.jsx
  src/components/Skills.jsx
  src/components/WelcomePage.jsx
  src/index.css
  src/projects.js
  src/styles.css
  tailwind.config.cjs
Labels: Files: Dependencies, Area: Frontend ðŸŽ¨

fixed copy
  src/components/WelcomePage.jsx
Labels: Area: Frontend ðŸŽ¨

set node 24
  netlify.toml
Labels: none

updated deps
  package-lock.json
  package.json
Labels: Files: Dependencies

copy improed
  src/components/WelcomePage.jsx
Labels: Area: Frontend ðŸŽ¨
